@import './css/inputs.css';
@import './css/dialog.css';
@import './css/cards.css';
@import './css/shapes.css';
@import './css/footer.css';
@import './css/chips.css';
@import './css/header.css';
@import './css/checkbox.css';

* {
	font-family:sans-serif;
	margin:0px;

	border-style:solid;
	border-width:0px;
}

html,body {
  height: 100%;
  width: 100%;
  margin:0px;
	overflow-y:auto;
	overflow-x:hidden;

	background-color:var(--md-sys-color-background);
	color:var(--md-sys-color-on-background);
}

::selection {
  background:var(--md-sys-color-tertiary);
	color:var(--md-sys-color-on-tertiary);
}


select {
  background-color:var(--md-sys-color-tertiary);
  color:var(--md-sys-color-on-tertiary);
  border-radius:50px;
  border-width:0px;
  padding:14px;
  font-size:8px;
	display:flex;
}

button {
  background-color:var(--md-sys-color-primary);
  color:var(--md-sys-color-on-primary);
  border-radius:50px;
  border-width:0px;
  padding:8px;
  font-size:16px;

	height:max-content;
	width:max-content;
}

::placeholder {
  color:var(--md-sys-color-on-surface-variant);
}

	#error {
		position:fixed;
		left:50%;
		bottom:8px;
	  border-width:0px;
		display:none;
		min-height:50px;
		max-width:100%;
		background-color:var(--md-sys-color-error);
		border-radius:27px;
		padding:8px;
		transform: translateX(-50%);
	}

	#error i {
	color:var(--md-sys-color-on-error);
	}

		#error p {
	    color:var(--md-sys-color-on-error);
			font-family:sans_serif;
			font-size:20px;
			margin:0px;
			margin-top:auto;
			margin-bottom:auto;
	}

	.navigationbarHolder {
		padding-top:8px;
	}

	.navigationbarHolder option-item {
		display:flex;
		flex-direction:column;
	}

.navigationbarHolder .selected .itemImg {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	border-radius:40px;
	text-align:center;
	height:30px;
	font-size:30px;
  background-color:var(--md-sys-color-tertiary);
	color:var(--md-sys-color-on-tertiary)
}

	.navigationbarHolder .selected .itemName {
	width:100%;
		margin:0px;
		margin-top:1px;
		font-family:sans-serif;
		margin-bottom:8px;
		text-align:center;
		font-size:14px;
		color:var(--md-sys-color-on-tertiary-container)
	}

	.navigationbarHolder option-item .itemImg {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	border-radius:40px;
	text-align:center;
	height:30px;
	font-size:30px;
	color:var(--md-sys-color-on-tertiary-container)
}

	.navigationbarHolder option-item .itemName {
	width:100%;
		margin:0px;
		margin-top:1px;
		margin-bottom:8px;
		font-family:sans-serif;
		text-align:center;
		font-size:14px;
		color:var(--md-sys-color-on-tertiary-container)
	}

	.navigationTabsHolder .selected .itemImg {
		display:none;
	}

	.navigationTabsHolder .itemImg {
display:none;
	}

	.navigationTabsHolder .selected .itemName {
	width:100%;
		margin:8px;
		padding:8px;
		font-family:sans-serif;
		margin-right:0px;
		text-align:center;
		font-size:20px;
		border-radius:100px;
		height:calc(100% -32px);
		background-color:var(--md-sys-color-primary);
		color:var(--md-sys-color-on-primary);
	}

	.navigationTabsHolder .itemName {
	width:100%;
		margin:8px;
		padding:8px;
		font-family:sans-serif;
		margin-right:0px;
		text-align:center;
		font-size:20px;
		border-radius:100px;
				height:calc(100% - 32px);
		color:var(--md-sys-color-on-tertiary-container)
	}

	h1 {
		font-family:Sans-serif;
		color:var(--md-sys-color-on-surface-variant);
		margin:0px;
		margin-top:auto;
		margin-bottom:8px;
	}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--md-sys-color-primary);
	border-radius:20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--md-sys-color-primary)
}

/* Handle */
select::-webkit-scrollbar-thumb {
  background:var(--md-sys-color-on-tertiary);
	border-radius:20px;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background:var(--md-sys-color-on-tertiary);
}

.fab {
	min-width:60px;
	min-height:60px;
	border-radius:20px;
	position:fixed;
	bottom:16px;
	right:16px;
	background-color:var(--md-sys-color-primary);
	color:var(--md-sys-color-on-primary);

	width:max-content;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display:block;
  height:0px;
  width:0px;
}

a {
	color:var(--md-sys-color-on-surface-variant);
	text-decoration:none;
	margin:auto 8px;
}

.descriptionHeader {
	width:100%;

	border-radius:407px;
	height: 500px;
	object-fit:cover;

	margin-bottom:8px;
}


main {
	padding:16px;

	height:100%;
}
img {
	margin:8px;
	padding:0px;
}

p {
	color:var(--md-sys-color-on-background);
}