footer {
	background-color:var(--md-sys-color-primary-container);

	border-radius:200px;

	padding:45px;

	display:flex;

	margin:8px;
}

hr {
	width:100%;
}

hr::before {
	content:'Hello there this is some text that i use to create this divider it is very long yes yes, but not visible to user how that come you ask? well the font is no bigger than 0px wich means the user cannot see this font, funny right? well imma make this text even longer why? soo that this divider also works on a bigger screen like your TV but not only that then itll also work on some random screen that are even BIGGER than a normal TV';

	text-decoration:wavy line-through;
	text-decoration-color:var(--md-sys-color-tertiary);

		height:20px !important;

	color:TRANSPARENT;

	overflow:hidden;

	display:block;
}